.button{
    background: linear-gradient(-40deg, $color-primary, $color-secondary 100%);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    box-shadow: 4px 6px 9px 0px $color-grey-dark;
    text-align: center;
}