@keyframes check-show {
    0% { width: 0;}
    100% {width: 70px;}
}
@-webkit-keyframes check-show {
    0% { width: 0;}
    100% {width: 70px;}
}

@keyframes coche-turn {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}  
}

@-webkit-keyframes coche-turn {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}  
}

.chosen {
    margin: 0;
    margin-left: 0px;
    min-width: 60px;
    width: 60px;
    min-height: inherit;
    max-height: 100px;
    //height: 100px;
    overflow-y: hidden;
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 $block-assiette-radius $block-assiette-radius 0;
    &__coche{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: white;
        color: $color-tertiary;
        -webkit-mask: url(../images/svg/circle-check-solid.svg) no-repeat center;
        mask: url(../images/svg/circle-check-solid.svg);
        mask-repeat: no-repeat;
        mask-position: center;
    }
}