.titres, .logos {
    font-family: $font-logos-titres;
    &__principal{
        font-size: 8.25vw;
        @media (min-width: 599px) {
            font-size: 47px;
        }
        // font-size: 31px;
    }
}

.textes{
    font-family: $font-textes;
}