.background-image{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    @media (min-width: 599px) {
        background-size: 100% 80%;
    }
    background-color: $color-grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include restos-header;
    & .button{
        align-self: center;
        width: 185px;
        margin-bottom: 55px;
    }
}

.titre-coeur{
    margin-top: 220px;
    background-color: $color-grey-light;
    padding-top: 30px;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
    width: 100%;
}

.menu {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color-grey-light;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 40px;
    @include cartes;
}