@mixin box-shadow {
    box-shadow: 4px 6px 9px 0px $color-grey-dark;    
}

@mixin resto-image($resto){
    background-image: url(map-get($resto,"background-image"));
    background-size: contain;        
    @media (min-width: 940px) {
        background-size: cover;
    }    
}

@mixin resto-name($resto){
    & .resto-name::after{
        content: map-get($resto,"name");
    }
}

@mixin restos-header(){
    @each $key,$resto in $restos{
        &.resto#{$key}{
            @include resto-image($resto);
            @include resto-name($resto);
        }
    }
}

@mixin label($label) {
    &::after{
        content: $label;
    }
}

@mixin assiettes($resto,$type) {
    $plats : map-get($resto,$type);
    @each $key,$assiette in $plats{
        & .menu__#{$type}__#{$key}{
            & .assiette{
                &__description__appelation::after{
                    content: map-get($assiette,"titre");
                }
                &__description__precision::after{
                    content: map-get($assiette,"sous-titre");
                }
                &__prix::after{
                    content: map-get($assiette,"prix");
                }
            }
        }
    }
    
}

@mixin menu($resto,$type,$label){

    &__#{$type}{
        width: 100%;
        @media (min-width: 599px) {
            width: 375px;
        }
        &__list{
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include assiettes($resto,$type);
        }
    }
}

@mixin carte($resto){
    @each $key,$val in $labels{
        @include menu($resto:$resto,$type:$key,$label:$val);
    }
}

@mixin cartes{
    @each $key,$val in $restos{
        & .menu#{$key}{
            @include carte($resto:$val);
        }
    }
}

@mixin start-delai-mixin{
    @for $i from 1 through 10 {
        &.a#{$i}{
            $start-delai: start-delai($i);
            animation-delay: #{$start-delai}s;
        }
    }
    
}