$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey-light: #F6F6F6;
$color-grey: #EAEAEA;
$color-grey-dark: #D2D2D2;
$color-bck-footer: #383838;
$color-grey-dark-dark: #868686;
$font-logos-titres: 'Shrikhand', cursive;
$font-textes: 'Roboto', sans-serif;
$footer-font-size: 16px;